# Make Panel Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import datetime

mydir = os.getcwd()

FY09 = pd.read_csv(os.path.join(mydir,'CSV', 'FY09.csv'),index_col=0)
FY10 = pd.read_csv(os.path.join(mydir,'CSV', 'FY10.csv'),index_col=0)
FY11 = pd.read_csv(os.path.join(mydir,'CSV', 'FY11.csv'),index_col=0)
FY12 = pd.read_csv(os.path.join(mydir,'CSV', 'FY12.csv'),index_col=0)
FY13 = pd.read_csv(os.path.join(mydir,'CSV', 'FY13.csv'),index_col=0)
FY14 = pd.read_csv(os.path.join(mydir,'CSV', 'FY14.csv'),index_col=0)
FY15 = pd.read_csv(os.path.join(mydir,'CSV', 'FY15.csv'),index_col=0)
FY16 = pd.read_csv(os.path.join(mydir,'CSV', 'FY16.csv'),index_col=0)

In [2]:
#cleaning
FY09 = FY09.dropna(axis=0, how='all')
FY10 = FY10.dropna(axis=0, how='all')
FY11 = FY11.dropna(axis=0, how='all')
FY12 = FY12.dropna(axis=0, how='all')
FY13 = FY13.dropna(axis=0, how='all')
FY14 = FY14.dropna(axis=0, how='all')
FY15 = FY15.dropna(axis=0, how='all')
FY16 = FY16.dropna(axis=0, how='all')

In [3]:
#construct full index of school codes
fullindex = np.union1d(FY09.index.values,FY10.index.values)
fullindex = np.union1d(fullindex,FY11.index.values)
fullindex = np.union1d(fullindex,FY12.index.values)
fullindex = np.union1d(fullindex,FY13.index.values)
fullindex = np.union1d(fullindex,FY14.index.values)
fullindex = np.union1d(fullindex,FY15.index.values)
fullindex = np.union1d(fullindex,FY16.index.values)

In [39]:
#construct multi-year dataset

fullset = pd.DataFrame(np.nan, index=pd.date_range('2009-1-1', periods=8, freq='AS'), columns=fullindex)

In [40]:
fullset

,400008.0,400009.0,400010.0,400011.0,400012.0,400013.0,400015.0,400017.0,400018.0,400019.0,...,610570.0,610571.0,610572.0,610573.0,610574.0,610580.0,610581.0,610582.0,610584.0,610585.0
2009-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
#fill in new dataset with all school codes

#FY09
k=0
for i in range(len(fullindex)):
    if FY09.index[k]==fullindex[i]:
        fullset[fullindex[i]][0]=float(FY09['Total'].values[k])
        k=+1
    
#FY10


#FY11


#FY12


#FY13


#FY14


#FY15


#FY16

In [81]:
len(FY09.index.values)

666

In [86]:
FY09

,School,Total,White,AfricanAmerican,API,NativeAmericanAlaskan,Hispanic,MR,Asian,HPR,NA
SchoolID,,,,,,,,,,,
400008.0,Acad of Communication & Tech Charter High School,319,3,315,0.0,0.0,1,Nan,Nan,Nan,Nan
400009.0,Academy for Global Citizenship Elementary School,89,7,1,1.0,0.0,80,Nan,Nan,Nan,Nan
400010.0,ACE Technical Charter High School,476,32,305,3.0,1.0,135,Nan,Nan,Nan,Nan
400011.0,Alain Locke Elementary Charter Academy,507,0,501,0.0,0.0,6,Nan,Nan,Nan,Nan
400012.0,Amandla Charter High School,103,1,102,0.0,0.0,0,Nan,Nan,Nan,Nan
400013.0,ASPIRA Charter - Early College HS,374,15,35,5.0,0.0,319,Nan,Nan,Nan,Nan
400015.0,ASPIRA Charter - Ramirez HS,402,11,34,3.0,0.0,354,Nan,Nan,Nan,Nan
400017.0,ASPIRA Charter - Haugan MS,500,39,40,33.0,1.0,387,Nan,Nan,Nan,Nan
400018.0,Austin Business and Entrepreneurship Academy HS,392,2,390,0.0,0.0,0,Nan,Nan,Nan,Nan
400019.0,Bronzeville Lighthouse Charter Elementary School,404,1,398,1.0,1.0,3,Nan,Nan,Nan,Nan
400020.0,Catalyst Charter Elementary School,331,1,329,0.0,0.0,1,Nan,Nan,Nan,Nan
400021.0,Catalyst Elementary School,274,0,272,0.0,0.0,2,Nan,Nan,Nan,Nan
400023.0,Chicago Intl Charter - Avalon South Shore ES,406,0,406,0.0,0.0,0,Nan,Nan,Nan,Nan
400024.0,Chicago Intl Charter - Basil ES,726,0,691,1.0,0.0,34,Nan,Nan,Nan,Nan
400025.0,Chicago Intl Charter - Bucktown ES,624,40,151,5.0,0.0,428,Nan,Nan,Nan,Nan
400026.0,Chicago Intl Charter - Friesse ES,568,2,564,0.0,0.0,2,Nan,Nan,Nan,Nan
400027.0,Chicago Intl Charter - Irving Park ES,349,40,84,10.0,5.0,210,Nan,Nan,Nan,Nan
400028.0,Chicago Intl Charter - Prairie ES,416,0,241,0.0,0.0,175,Nan,Nan,Nan,Nan
400029.0,Chicago Intl Charter - Washington Park ES,449,0,448,0.0,0.0,1,Nan,Nan,Nan,Nan
400030.0,Chicago Intl Charter - West Belden ES,500,6,53,0.0,0.0,441,Nan,Nan,Nan,Nan
400031.0,Chicago Intl Charter - Wrightwood ES,699,2,691,1.0,1.0,4,Nan,Nan,Nan,Nan
400032.0,Chicago Intl Charter - Ellison HS,447,2,438,1.0,0.0,6,Nan,Nan,Nan,Nan
400033.0,Chicago Intl Charter - Longwood HS,"1,480",2,"1,461",1.0,0.0,16,Nan,Nan,Nan,Nan
400034.0,Chicago Intl Charter - Northtown HS,808,232,96,75.0,5.0,400,Nan,Nan,Nan,Nan
400035.0,Chicago Math & Science Charter High School,483,39,122,36.0,0.0,286,Nan,Nan,Nan,Nan
400036.0,Chicago Virtual Charter High School,600,111,396,38.0,2.0,53,Nan,Nan,Nan,Nan
400037.0,Choir Academy Charter ES of Chicago,141,1,135,0.0,0.0,5,Nan,Nan,Nan,Nan
400038.0,Community Services West High School,105,0,100,0.0,0.0,5,Nan,Nan,Nan,Nan
400039.0,Erie Charter Elementary School,207,8,35,1.0,0.0,163,Nan,Nan,Nan,Nan
400040.0,Frazier Preparatory Academy Elementary School,437,0,432,0.0,0.0,5,Nan,Nan,Nan,Nan
...,...,...,...,...,...,...,...,...,...,...,...
610377.0,Senn Achievement Academy High School,71,9,24,2.0,1.0,35,Nan,Nan,Nan,Nan
610378.0,Crane Achievement Academy High School,350,0,342,0.0,0.0,8,Nan,Nan,Nan,Nan
610380.0,Daniel Hale Williams Prep School of Medicine,322,3,307,1.0,0.0,11,Nan,Nan,Nan,Nan
610381.0,Bronzeville Scholastic Academy High School,521,2,516,0.0,0.0,3,Nan,Nan,Nan,Nan
610383.0,Greater Lawndale High School For Social Justice,350,3,79,0.0,0.0,268,Nan,Nan,Nan,Nan
610384.0,Infinity Math Science and Technology High School,340,0,73,1.0,0.0,266,Nan,Nan,Nan,Nan
610385.0,Multicultural Arts High School,323,1,80,0.0,0.0,242,Nan,Nan,Nan,Nan
610386.0,Peace & Education Coalition High School,103,2,25,0.0,0.0,76,Nan,Nan,Nan,Nan
610388.0,LINC Alternative High School,533,1,511,0.0,0.0,21,Nan,Nan,Nan,Nan
610389.0,Orr Academy High School,"1,185",1,"1,083",0.0,1.0,100,Nan,Nan,Nan,Nan
610390.0,Hyman G Rickover Naval Academy High School,397,44,86,17.0,0.0,250,Nan,Nan,Nan,Nan
610391.0,Robert Lindblom Math & Science Academy HS,654,22,508,7.0,0.0,117,Nan,Nan,Nan,Nan
610392.0,World Language Academy High School,342,3,47,0.0,0.0,292,Nan,Nan,Nan,Nan
610394.0,Uplift Community High School,558,19,434,21.0,1.0,83,Nan,Nan,Nan,Nan
610395.0,Pershing West Middle School,274,2,260,4.0,0.0,8,Nan,Nan,Nan,Nan
610396.0,Tarkington School of Excellence ES,"1,089",8,293,0.0,0.0,788,Nan,Nan,Nan,Nan
610401.0,Clemente Achievement Academy High School,218,5,105,0.0,0.0,108,Nan,Nan,Nan,Nan
610402.0,DeVry University Advantage Academy HS,197,18,88,5.0,0.0,86,Nan,Nan,Nan,Nan
610405.0,Suder Montessori Magnet ES,206,28,127,11.0,0.0,40,Nan,Nan,Nan,Nan
610499.0,Collins Academy High School,241,0,230,0.0,0.0,11,Nan,Nan,Nan,Nan
610501.0,Austin Polytechnical Academy High School,258,0,253,0.0,1.0,4,Nan,Nan,Nan,Nan
610502.0,Marine Military Academy High School,240,10,110,4.0,0.0,116,Nan,Nan,Nan,Nan
610503.0,Frazier International Magnet Elementary School,173,0,169,0.0,0.0,4,Nan,Nan,Nan,Nan
610504.0,Velma F Thomas Early Childhood Center,174,11,3,4.0,0.0,156,Nan,Nan,Nan,Nan
610506.0,TEAM Englewood Community Academy High School,282,1,279,1.0,0.0,1,Nan,Nan,Nan,Nan
610515.0,Walt Disney II Magnet Elementary School,205,102,27,8.0,2.0,66,Nan,Nan,Nan,Nan
610518.0,VOISE Academy High School,149,1,146,1.0,0.0,1,Nan,Nan,Nan,Nan
610520.0,LaSalle II Elementary Language Academy,228,50,27,3.0,0.0,148,Nan,Nan,Nan,Nan
610521.0,Sir Miles Davis Magnet Elementary Academy,558,0,558,0.0,0.0,0,Nan,Nan,Nan,Nan
610523.0,Edison Park Elementary School,258,191,0,10.0,1.0,56,Nan,Nan,Nan,Nan